#ppcp-google-pay {
  max-height: var(--braintree-express-button-height, 45px);

  button,
  &.text-loading {
    height: var(--braintree-express-button-height, 45px);
  }
}

.ppcp-apple-pay-container {
  min-height: var(--braintree-express-button-height, 45px);

  apple-pay-button,
  &.text-loading {
    height: var(--braintree-express-button-height, 45px);
    --apple-pay-button-height: var(--braintree-express-button-height, 45px);
    width: 100%;
  }
}

.paypal-button-container {
  max-height: var(--braintree-express-button-height, 45px);

  &.text-loading {
    height: var(--braintree-express-button-height, 45px);
  }
}