@import '../../styles/breakpoints';

.adyen-payment-icons {
  width: var(--footer-icons-width-mobile, auto);

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: var(--footer-icons-align-items, center);
    justify-content: center;
    height: 100%;

    li {
      display: block;
      list-style: none;
      margin: var(--footer-icon-margin-mobile, 0 10px);
      height: 100%;

      img {
        height: var(--footer-icons-min-height, 25px); //prevent cls jump
      }
    }
  }
}

@media (min-width: $screen__m) {
  .adyen-payment-icons {
    width: var(--footer-icons-width-desktop, auto);

    ul {
      margin: 0 0 0;

      li {
        margin: var(--footer-icon-margin, 0 10px);
      }
    }
  }
}
