#bluefinch-checkout-root {
  .fastlane-payment {
    background-color: var(--radio-input-wrapper__background-color);
    border: var(--radio-input-wrapper__border-weight) var(--base__border-style) var(--radio-input-wrapper__border-color);
    border-radius: var(--radio-input-wrapper__border-radius);
    display: grid;
    margin-top: var(--indent__base);
    padding: var(--indent__base);

    .recaptcha-container,
    .error-message {
      display: none;
    }

    .fastlane-payment-radio span {
      font-size: var(--font-size__s);
    }

    &.active {
      background-color: var(--radio-input-wrapper__background-color-active);
      border: var(--selected-border, var(--radio-input-wrapper__border-weight-active) var(--base__border-style) var(--radio-input-wrapper__border-color-active));
      gap: var(--indent__base);

      .recaptcha-container,
      .error-message {
        display: block;
      }
    }

    .hidden {
      display: none;
    }

    ~ .braintree-drop-in .braintree-card {
      display: none;
    }
  }
}

.hcf-card-number,
.hcf-cardholder-name,
.hcf-cvv,
.hcf-expiration-date {
  background-color: transparent;
}
