.google-pay,
.apple-pay,
.pay-pal {
  &-container {
    background-color: var(--radio-input-wrapper__background-color);
    border: var(--radio-input-wrapper__border-weight) var(--base__border-style) var(--radio-input-wrapper__border-color);
    border-radius: var(--radio-input-wrapper__border-radius);
    flex-wrap: wrap;
    line-height: 1;
    margin-top: var(--indent__base);
    padding: var(--indent__base);

    .selected {
      margin-bottom: var(--indent__base);
    }

    .ppcp-apple-pay-button {
      apple-pay-button,
      &.text-loading {
        height:55px;
        --apple-pay-button-height: var(--ppcp-express-button-height, 55px);
        width: 100%;
      }
    }

    #ppcp-google-pay {
      max-height: 55px;

      button {
        height: 55px;
      }
    }
  }

  &-content {
    margin-top: var(--indent__base);
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}